.new-navigation {
  position: absolute;
  width: 100%;
  height: 100px;
  padding: 0 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.new-navigation-left {
  margin-left: -33px;
}

.new-navigation-left a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  font-size: 12px;
  font-weight: bold;
  width: 107px;
  height: 30px;
  border: 2px solid transparent;
  border-radius: 15px;
  display: inline-block;
  text-align: center;
  line-height: 25px;
  transition: all .2s;
}

.new-navigation-left a:hover,
.new-navigation-left a:focus {
  border-color: rgb(108, 110, 108);
  background-color: rgba(44, 45, 47, 0);
}

.new-navigation-center {
  margin-right: 85px;
}

.new-navigation-right {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Distribute items evenly with equal space */
  margin-top: -10px; /* Move the elements up by 10 pixels */
}

#new-login-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px; /* Ensure a fixed height for alignment */
  padding: 0 15px; /* Add some padding for a better look */
  text-align: center;
  vertical-align: middle;
  font-size: 14px; /* Adjust font size if necessary */
  line-height: normal; /* Prevent text from stretching */
  cursor: pointer;
}

#new-cart-count {
  position: absolute;
  top: -5px; /* Adjust for proper alignment */
  right: -5px; /* Adjust for proper alignment */
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#new-username-display {
  font-family: 'Montserrat', sans-serif; /* Changed font to Segoe UI */
  font-size: 20px; /* Increased font size */
  color: #000000; /* Changed font color to blue */
}